/* #satu, #dua, #tiga, #empat, #lima
{
    position: absolute;
    height: 100px;
} */
/* #satu {
    width: 100px;
    left: 0px;
    top: 0px;
    background-color: red;
    z-index: 1;

}

#dua {
    width: 100px;
    left: 25px;
    top: 50px;
    background-color: green;
    z-index: 2;
}

#tiga {
    width: 175px;
    left: 75px;
    top: 100px;
    background-color: blue;
    z-index: 3;

}

#empat {
    width: 100px;
    left: 200px;
    top: 50px;
    background-color: grey;
    z-index: 2;

}

#lima {
    width: 100px;
    left: 250px;
    top: 0px;
    background-color: cyan;
    z-index: 1;
} */

#nama_web {
    background-color: green;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px 5px;
}

/* p {
    margin: 10px 0 100px 0;
} */

body {
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;

    background-color: rgb(96, 96, 204);
    background-image: url("Clown.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

.link:link {
    background: white;
}

.link:visited {
    background: black;
}

.link:hover {
    background: brown;
}

.link:active {
    background: yellow;
}

.link {
    margin: 50px 0 50px 0;
}

/* button {
    position: fixed;
    top: 20px;
} */

/* #tabel {
    position: sticky;
    top: 10px;
} */

/* #gambar {
    position: fixed;
} */

/* h1 {
    display: inline;
}

h2 {
    display: inline;
} */